*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans",sans-serif;
    font-weight: 300;
}
html{
    font-size: 62.5%;
}
.st-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.st-btn button{
    font-size: 3rem;
    font-weight: 400;
    color: #0984e3;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
.main{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(206, 92%, 94%);    
}
.rules_box,.inner{
    display: none;
    width: 60vw;
    background-color: #fff;
    padding: 3rem 8rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7 rgba(0, 0, 0, 0.4);
}
.rules_box .rules_title,.inner header{
    height:50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1); 
}
.rules_box .rules_title label,.inner header .title{
    font-size: 2rem;
    font-weight: 600;
}
.inner header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 30px;
    background: #cce5ff;
    border: rgba(211, 12, 12, 0.137);
    border-radius: 5px;
    padding: 0 8px;
}
.inner header .timer .title_txt{
    font-size: 2rem;
    font-weight: 600;
    user-select: none;
}
.inner header .timer .timer_sec{
    font-size: 1.5rem;
    font-weight: 400;
    background-color: rgb(171, 187, 207);
    height: 20px;
    width: 45px;
    color: #fff;
    text-align: center;
    border: 1px solid #343a40;
    border-radius: 5px;
    user-select: none;
}
.inner h2{
    font-size: 3.5rem;
    font-weight: 400;
    padding: 1rem 0 4rem 0;
}
.rules_box .rules_list,.inner li{
    font-size: 2rem;
    margin-top: 1rem;
    list-style: none;
}
.rules_box .rules_list .list{
    margin: 5px 0;
    list-style: none;
    font-size: 2rem;
}
.rules_box .rules_list .list span{
    font-weight: 600;
    color: #0984e3;
}
input{
    cursor: pointer;
}
.rules_box .buttons button,#submit,.btn{
    padding: 1rem 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: #74b9ff;
    color: #fff;
    display: block;
    margin-top: 4rem;
    margin: auto;
    margin-top: 1rem;
    border: none;
}
.rules_box .buttons button.continue{
    background-color: #74b9ff;
    color: #fff;
}
.rules_box .buttons button.quit{
    background-color: rgb(171, 187, 207);
    color: #fff;
}
.rules_box .buttons button.continue:hover{
    color: #0984e3;
}
.rules_box .buttons button.quit:hover{
    color: #0984e3;
}
#submit:hover{
    color: #0984e3;
}
@media (max-width:700px)
{
    .rules_box,.inner{
        width: 40vw;
        padding: 1rem 3rem;
    }    
    .rules_box .rules_title label{
        font-size: 1rem;
    }
    .inner h2{
        font-size: 2rem;
    }
    .rules_box .rules_list,.inner li{
        font-size: 1rem;
    }
    .rules_box .buttons button,#submit,.btn{
        font-size: 1rem;
        padding: 1rem 0;
        margin-top: 1rem;
    }
}
#scorearea{
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.7 rgba(0, 0, 0, 0.4);   
}
.showscore{
    display: none;
}
#scorearea h3{
    font-size: 3rem;
    text-align: center;
}
#scorearea .btn{
    margin-top: 2rem;
    background-color: #55efc4;
    color: #2d3436;
}
#scorearea .btn:hover{
    background-color: #00b894;
    color: #fff;
}
.showscore{
    display: none;
}
@media (max-width:700px)
{
    #scorearea{
        padding: 1rem 2rem;
    }
    #scorearea h3{
        font-size: 1rem;
    }   
    #scorearea .btn{
        font-size: 1rem;
    }
}